
{% load mezzanine_tags i18n staticfiles %}
{% editable_loader %}

<script>
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}
</script>

	<!-- Javascript -->
	<script src="{% static "assets/js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-hover-dropdown.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.backstretch.min.js" %}"></script>
	<script src="{% static "assets/js/wow.min.js" %}"></script>
	<script src="{% static "assets/js/retina-1.1.0.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "assets/flexslider/jquery.flexslider-min.js" %}"></script>
	<script src="{% static "assets/js/jflickrfeed.min.js" %}"></script>
	<script src="{% static "assets/js/masonry.pkgd.min.js" %}"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="{% static "assets/js/jquery.ui.map.min.js" %}"></script>
        <script src="{% static "assets/js/scripts.js" %}"></script>
