{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block left_wrapper %}
{% endblock %}
{% block main %}
{{ block.super }}
{% if request.GET.sent %}
	<div class="col-md-{% block main_col_size %}8{% endblock %}">
	    {% editable page.form.response %}
	    {{ page.form.response|richtext_filters|safe }}
	    {% endeditable %}
	</div>
{% else %}
	<div class="col-sm-5 contact-address wow fadeInUp">
	    {% with page.form as page_form %}
	    {% editable page_form.content %}
	    {{ page_form.content|richtext_filters|safe }}
	    {% endeditable %}
	    {% endwith %}
	</div>
    {% errors_for form %}
	<div class="col-sm-5 contact-address wow fadeInUp">
	    <form class="mezzanine-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
		{% fields_for form %}
		<div class="form-actions">
		    <input class="btn btn-primary btn-lg" type="submit" value="{{ page.form.button_text }}">
		</div>
	    </form>
	</div>
{% endif %}

{% endblock %}


{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
