{% extends "pages/page.html" %}
{% load mezzanine_tags %}
{% load blog_tags keyword_tags i18n future mezzanine_tags %}
{% block main %}

<div class="row">
<div class="col-sm-8 services-half-width-text">
	{% editable page.richtextpage.content %}
	{{ page.richtextpage.content|richtext_filters|safe }}
	{% endeditable %}
</div>

<div class="col-sm-4">

	{% block blog_recent_posts %}
	{% blog_recent_posts 6 as recent_posts %}
	{% if recent_posts %}
		<div>
			<div class="row"> 
				<div class="testimonials-title2">
					<h2>Publicações Recentes</h2>
				</div>
			</div>
			<div class="row">
			{% for recent_post in recent_posts %}
				<div class="col-sm-12">
				<div class="work">
					{% if recent_post.featured_image %} 
						<img data-at2x="{{ MEDIA_URL }}{{ recent_post.featured_image }}" alt="" src="{{ MEDIA_URL }}{{ recent_post.featured_image }}">
					{% else %}
					{% endif %}
					<h3> {{ recent_post.title }} </h3>
					<div class="work-bottom">
						<a class="big-link-2 " href="{{ recent_post.get_absolute_url }}"><i class="fa fa-search"></i></a>
					</div>
				</div>
				</div>
			{% endfor %}
			</div>
		</div>
	{% endif %}
	{% endblock %}


</div>
</div>

{% endblock %}
