<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
  <link rel="stylesheet" href="{% static "skins/default.css" %}"> 
  <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/font-awesome/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
  <link rel="stylesheet" href="{% static "assets/flexslider/flexslider.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/fozerorm-elements.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/media-queries.css" %}">



{% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body id="{% block body_id %}body{% endblock %}">

    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
            </div>

            <div class="collapse navbar-collapse" id="top-navbar-1">
                    {% page_menu "pages/menus/dropdown.html" %}
            </div>
        </div>
    </nav>

    {% nevercache %}
    {% if messages %}

    <div class="container">
        <div class="messages">
        {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endnevercache %}

    {% spaceless %}
    {% page_menu "pages/menus/titulo.html" %}
    {% endspaceless %}

<div class="services-container">
    <div class="container">
        <div class="row">
            {% block main_wrapper %}
                    <div class="col-md-12{% block main_class %} middle {% endblock %}">
                        {% block main %}{% endblock %}
                    </div>
            {% endblock %}
        </div>
    </div>
</div>


    <div class="testimonials-container">
    </div>

    <footer>
        <div class="container">
            {% page_menu "pages/menus/footer.html" %}
        </div>
    </footer>

    {% include "includes/footer_scripts.html" %}

</body>
</html>
