{% load i18n pages_tags %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 portfolio-filters wow fadeInLeft">
            <ul class="breadcrumb">
            {% for page in page_branch %}
                {% if page.is_current_or_ascendant %}
                    {% if page.is_current %}
                        <li id="breadcrumb-menu-{{ page.html_id }}"
                            class="active">{{ page.title }}
                        </li>
                    {% else %}
                        <li id="breadcrumb-menu-{{ page.html_id }}">
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                
                    {% if page.has_children %}{% page_menu page %}{% endif %}
                
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

