{% load i18n pages_tags %}

{% spaceless %}

<div class="container">
   <!-- <div class="row">
	<div class="col-sm-3 footer-box wow fadeInUp">
	    <h4>About Us</h4>
	    <div class="footer-box-text">
		    <p>
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		    </p>
		    <p><a href="about.html">Read more...</a></p>
	    </div>
	</div>
	<div class="col-sm-3 footer-box wow fadeInDown">
	    <h4>Email Updates</h4>
	    <div class="footer-box-text footer-box-text-subscribe">
		    <p>Enter your email and you'll be one of the first to get new updates:</p>
		    <form role="form" action="assets/subscribe.php" method="post">
			    <div class="form-group">
				    <label class="sr-only" for="subscribe-email">Email address</label>
				    <input type="text" name="email" placeholder="Email..." class="subscribe-email" id="subscribe-email">
			    </div>
			    <button type="submit" class="btn">Subscribe</button>
			</form>
			<p class="success-message"></p>
			<p class="error-message"></p>
	    </div>
	</div>
	<div class="col-sm-3 footer-box wow fadeInUp">
	    <h4>Flickr Photos</h4>
	    <div class="footer-box-text flickr-feed"></div>
	</div>
	<div class="col-sm-3 footer-box wow fadeInDown">
	    <h4>Contato</h4>
	    <div class="footer-box-text footer-box-text-contact">
		    <p><i class="fa fa-map-marker"></i> Address: Via Principe Amedeo 9, 10100, Torino, TO, Italy</p>
		    <p><i class="fa fa-phone"></i> Phone: 0039 333 12 68 347</p>
		    <p><i class="fa fa-user"></i> Skype: Andia_Agency</p>
		    <p><i class="fa fa-envelope"></i> Email: <a href="">contact@andia.co.uk</a></p>
	    </div>
	</div>
    </div>
    -->
   <!-- <div class="row">
	    <div class="col-sm-12 wow fadeIn">
		    <div class="footer-border"></div>
	    </div>
    </div>
    -->
    <div class="row">
	<div class="col-sm-7 footer-copyright wow fadeIn">
	    <p>Comunidade Cristã de São Carlos - Todos os direitos reservados. <a href="http://azmind.com">Tema</a>.</p>
	</div>
	<div class="col-sm-5 footer-social wow fadeIn">
	    <a href="http://www.facebook.com/pages/Comunidade-Cristã-de-São-Carlos/725760214142385?fref=ts"><i class="fa fa-facebook"></i></a>
	    <a href="http://www.youtube.com/user/ccsaocarlos"><i class="fa fa-youtube"></i></a>
	</div>
    </div>
</div>

{% endspaceless %}
