{% load i18n pages_tags %}

{% if not on_home %}

{% if not page.has_children %}
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeIn">
{% endif %}
                {% for page in page_branch %}
                    {% if page.is_current_or_ascendant %}

		    	{% if page.icone %}
				<i class="{{ page.icone }}"></i>
		    	{% endif %}    

			<h1> {{ page.title }} </h1>  
			{% if page.has_children %}
				<h1> / </h1>
				{% page_menu page %}
			{% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% else %}
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeIn">
            </div>
        </div>
    </div>
</div>

{% endif %}    
